create database QL_HOCSINH_GIAOVIEN

go
use QL_HOCSINH_GIAOVIEN
create table GiaoVien
	(	ID_GiaoVien varchar(10)not null, TenGV nvarchar(50) null, SDT bigint null , Email varchar(50)null, GT nvarchar(3)null,
	    
		HocHam varchar(10) check (HocHam in ('TS', 'ThS', 'KS')), 
		HocVi varchar(10) check (HocVi in ('GV', 'GVC', 'TG')),
		NgaySinh datetime null
	) 
create table HocSinh
	(	ID_HocSinh varchar(10) not null, TenHS nvarchar(50)null, Lop varchar(10)null,NgSinh date null,GT nvarchar(3) null,Diachi nvarchar(50) null
	)	 
create table Lop
 (    ID_Lop varchar(10) not null,TenL nvarchar(50) null,MaGV varchar(10) null, DVHT Int null
 )	
 
 create table DangNhap
 (
 Username varchar(50), 
 Pass varchar(50)
 )
 
	
	
	
	insert into Lop
	values
	('TH48','MH01','GV001',2),
	('OTO48','MH01','GV002',2),
	('TH49','MH01','GV003',2),
	('VK48','MH02','GV004',2),
	('PH48','MH02','GV005',2),
	('TCDT48','MH03','GV006',2),
	('XM48','MH03','GV007',2),
	('DA48','MH04','GV008',2),
	('CDT12','MH04','GV009',2),
	('NL48','MH05','GV010',2),
	('RD48','MH05','GV012',2),
	('TTHQ48','MH06','GV013',2),
	('XD12','MH06','GV014',2),
	('PH50','MH07','GV015',2),
	('XT48','MH07','GV016',2),
	('MT48','MH08','GV017',2),
	('DTYS48','MH08','GV018',2),
	('RD47','MH09','GV019',2),
	('MH09B','MH09','GV020',2),
	
alter table GiaoVien Add constraint PK_GV primary key (ID_GiaoVien)
alter table Lop add constraint PK_L primary key (ID_Lop),
constraint PK_L_GV foreign key (MaGV) references GiaoVien(ID_GiaoVien)
alter table HocSinh add constraint PK_HS primary key (ID_HocSinh),
constraint PK_HS_L foreign key (Lop) references Lop(ID_Lop)
CREATE PROC INSERTHOCSINH(@ID CHAR(10),@NAME NVARCHAR(50),@CLASS CHAR(10),@DATE DATETIME,@SEX CHAR(10),@DIACHI NVARCHAR(50),@CHECK INT OUTPUT)
AS
BEGIN
 IF(@CLASS NOT IN(SELECT lOP.ID_Lop  FROM LOP)) BEGIN SET @CHECK=2  RETURN END  
 IF(@ID IN(SELECT HocSinh.ID_HocSinh FROM HocSinh)) BEGIN SET @CHECK=1  RETURN  END 
 INSERT INTO HocSinh
  VALUES(@ID,@NAME,@CLASS,@DATE,@SEX,@DIACHI)
  SET @CHECK=0
  END
CREATE PROC UPDATEHOCSINH(@ID CHAR(10),@NAME NVARCHAR(50),@CLASS CHAR(10),@DATE DATETIME,@SEX CHAR(10),@HOME NVARCHAR(50),@CHECK INT OUTPUT)
AS
BEGIN
 IF(@ID IN(SELECT HocSinh.ID_HocSinh FROM HocSinh WHERE HocSinh.ID_HocSinh<>@ID)) BEGIN SET @CHECK=1  RETURN  END 
 IF(@CLASS NOT IN(SELECT lOP.ID_Lop  FROM LOP)) BEGIN SET @CHECK=2  RETURN END 
 SET @CHECK=0
 UPDATE HocSinh
   SET
    TenHS=@NAME,
	Lop=@CLASS,
	NgSinh=@DATE,
	GT=@SEX,
	Diachi=@HOME
	WHERE @ID=ID_HocSinh
	END
CREATE PROC DELETEHOCSINH(@ID CHAR(10))
AS
BEGIN
 DELETE HocSinh
 WHERE @ID=ID_HocSinh
 END
 CREATE PROC DELETELOP(@CLASSID CHAR(10))
 AS
 BEGIN
  DELETE Lop
  WHERE @CLASSID=ID_Lop
  END
  CREATE PROC DELETEGIAOVIEN(@ID CHAR(10))
  AS
  BEGIN
   DELETE GiaoVien
   WHERE @ID=ID_GiaoVien
   UPDATE Lop
   SET LOP.MaGV=''
   WHERE Lop.MaGV=@ID
   END
   CREATE PROC INSERTLOP(@CLASSID CHAR(10),@CLASSNAME NVARCHAR(50),@IDGV CHAR(10),@DVHT NVARCHAR(50),@CHECK INT OUTPUT)
   AS
   BEGIN
     IF(@CLASSID IN (SELECT Lop.ID_Lop FROM LOP ))BEGIN SET @CHECK=1 RETURN END
	 IF(@IDGV IN (SELECT LOP.MaGV FROM LOP))BEGIN SET @CHECK=2 RETURN END 
	 IF(@IDGV NOT IN (SELECT GiaoVien.ID_GiaoVien FROM GiaoVien))BEGIN SET @CHECK=3 RETURN END
	 INSERT INTO LOP
	 VALUES(@CLASSID,@CLASSNAME,@IDGV,@DVHT)
	 SET @CHECK=0
	 END
	 CREATE PROC UPDATELOP (@CLASSID CHAR(10),@CLASSNAME NVARCHAR(50),@IDGV CHAR(10),@DVHT NVARCHAR(50),@CHECK INT OUTPUT)
   AS
   BEGIN
    IF(@CLASSID IN (SELECT Lop.ID_Lop FROM LOP WHERE ID_Lop<>@CLASSID))BEGIN SET @CHECK=1  RETURN END
	 IF(@IDGV IN (SELECT LOP.MaGV FROM LOP WHERE ID_Lop<>@IDGV))BEGIN SET @CHECK=2  RETURN  END
	 IF(@IDGV NOT IN (SELECT GiaoVien.ID_GiaoVien FROM GiaoVien))BEGIN SET @CHECK=3  RETURN END
	 SET @CHECK=0
	 UPDATE LOP
	 SET 
	  TenL=@CLASSNAME,
	  MaGV=@IDGV,
	  DVHT=@DVHT
	  WHERE @CLASSID=ID_Lop
	  END
   CREATE PROC UPDATEGIAOVIEN (@ID CHAR(10),@NAME NVARCHAR(50),@SDT BIGINT,@EMAIL NVARCHAR(50),@SEX CHAR(10),@HOCHAM VARCHAR(20),@HOCVI VARCHAR(20),@DATE DATETIME,@CHECK INT OUTPUT)
    AS 
	BEGIN
	 IF(@ID IN (SELECT GiaoVien.ID_GiaoVien FROM GiaoVien WHERE ID_GiaoVien<>@ID))BEGIN SET @CHECK=1  RETURN END
	 SET @CHECK=0
	 UPDATE GiaoVien
	  SET 
	     TenGV=@NAME,
		 SDT=@SDT,
		 Email=@EMAIL,
		 GT=@SEX,
		 HocHam=@HOCHAM,
		 HocVi=@HOCVI,
		 NgaySinh=@DATE
		 WHERE @ID=ID_GiaoVien
		 END
CREATE PROC INSERTGIAOVIEN (@ID CHAR(10),@NAME NVARCHAR(50),@SDT BIGINT,@EMAIL NVARCHAR(50),@SEX CHAR(10),@HOCHAM VARCHAR(20),@HOCVI VARCHAR(20),@DATE DATETIME,@CHECK INT OUTPUT)
    AS 
	BEGIN
	 IF(@ID IN (SELECT GiaoVien.ID_GiaoVien FROM GiaoVien ))BEGIN SET @CHECK=1   RETURN END 
	 SET @CHECK=0 
	  INSERT INTO GiaoVien
	   VALUES(@ID,@NAME,@SDT,@EMAIL,@SEX,@HOCHAM,@HOCVI,@DATE)
	   END